<nav id="sidebar_right">
  <div id="messages" data-channel-subscribe="room" data-room-id="<%= @club.id %>" data-room-type="club">
    <div class="row pt-5">
      <div class="col-10 offset-1 comment-card px-2 custom-color-5" style="height: 75vh">
        <div class="container">
          <h3 class="center_title">Club Chat</h3>
        </div>
        <div class="container scrolly comment-box px-0" style="height: calc(75vh - 200px)">
          <div id="live_messages">
            <% @club_messages_latest.each do |message| %>
              <div>
                <div class="float-left image pr-3">
                  <img src="<%= User.where({ :id => message.user_id }).at(0).prof_pic %>" class="img-circle avatar" alt="user profile image">
                </div>
                <div class="comment-text">
                  <b><%= User.where({ :id => message.user_id }).at(0).username %></b>
                  <%= message.body %>
                </div>
                <br>
              </div>
            <% end %>
          </div>
        </div>
        <div class="container" style="height: 200px">
          <form action="/messages/club/create/<%= @club.id %>/<%= current_user.id %>" method="post" data-remote="true" id="chat_form">
            <div class="form-group">
              <label for="comment_body"></label>
              <textarea class="form-control" id="comment_body" name="body" placeholder="Have something on your mind?" rows="1" maxlength="300" required></textarea>
              <br>
              <button class="btn btn-secondary" data-disable-with="Sending..." id="submit_button">Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>

  {
    let form = document.getElementById("chat_form");

    document.getElementById("submit_button").addEventListener("click", function (event) {
      
      if (document.getElementById("comment_body").value.trim().length === 0) {
      }
      else {
        form.submit();
        form.reset();
        event.preventDefault();
      }

    });

    document.getElementById("chat_form").addEventListener("keydown", function (event) {
      
      if (event.keyCode == 13 && !event.shiftKey) {
        if (document.getElementById("comment_body").value.trim().length === 0) {
          event.preventDefault();
        }
        else {
          form.submit();
          form.reset();
          event.preventDefault();
          
        }
      }
    });
    
  }

</script>
