<div class="row">
  <div class="col-xs-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2">
    <div class="col-xs-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2">
      <div class="jumbotron">

        <h2>Resend confirmation instructions</h2>

        <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>
          <%= f.full_error :confirmation_token %>

          <div class="form-inputs">
            <%= f.input :email,
                        autofocus: true,
                        value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                        input_html: { autocomplete: "email", class: 'form-control'  } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Resend confirmation", class: "btn btn-secondary" %>
          </div>
        <% end %>
        <br>
        <br>
        Already confirmed your email?
        <br>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>