<div>
  <div class="well">
    <div class="col-12">
      <div class="card card-white post">
        <div class="post-heading">
          <div class="float-left image">
            <img src="<%= comment.user.prof_pic %>" class="img-circle avatar" alt="user profile image">
          </div>
          <div class="float-left meta">
            <div class="title h5">
              <a href="/profile/<%= comment.users_id %>"><b><%= comment.user.username %></b></a>
            </div>
            <h6 class="text-muted time"><%= time_ago_in_words(comment.created_at) %></h6>
          </div>
        </div> 
        <div class="post-description"> 
          <p><%= comment.body %></p>
        </div>
        <div>
          <div class="btn-group">
            <button type="button" class="btn" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
              Reply
            </button>
            <form class="dropdown-menu p-4" action="/comments/<%= comment.goes_to %>/create/<%= comment.goes_to_id %>/<%= comment.user.id %>/<%= comment.id %>" method="post" style="min-width: 500px;">
              <div class="form-group">
                <label for="club_comment_reply"></label>
                <textarea class="form-control" id="club_comment_reply" name="body" placeholder="Continue the disussion..."></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit Reply</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
