<h1>Manage Season</h1>

<div class="col-md-6 offset-md-3">
  <div class="jumbotron">
    <h2>Manage Season Details</h2>
      <br>
      <form action="/update_season_details/<%= @club_row.id %>/<%= @season_row.id %>" method="post">
        
        <input type="hidden" name="_method" value="patch">
        <label for="update_season_title">What is the new title of your season?</label>
        <input id="update_season_title" type="text" name="updated_season_title" placeholder="Enter a title..." value="<%= @season_row.title %>">

        <label for="update_season_description">What is the description of your season?</label>
        <input id="update_season_description" type="text" name="updated_season_description" placeholder="Enter a description..." value="<%= @season_row.description %>">

        <!-- Add picture and a password fields in the future -->
        <br>
        <br>
        <button>Update Season Details</button>
      </form>
  </div>
</div>
<br>
<div class="col-md-6 offset-md-3">
  <div class="jumbotron">
    <h2>Add Season Member</h2>
    <br>
      <form action="/add_season_memberships/<%= @club_row.id %>/<%= @season_row.id %>" method="post">
        
        <!-- Update to involve search -->
        <label for="Add_member_id">What is the id of the member you would like to add?</label>
        <input id="add_member_id" type="text" name="member_id" placeholder="Enter a user ID...">

        <!-- Update to involve drop down options -->
        <label for="Add_member_category">What permissions would you like to give this member? Options: member or admin. Note: Once added, you cannot remove members. </label>
        <input id="Add_member_category" type="text" name="member_category" placeholder='Enter "member" or "admin"'>
        <br>
        <br>
        <button>Add Member</button>
      </form>
  </div>
</div>
<br>
<div class="col-md-6 offset-md-3">
  <div class="jumbotron">
    Users currently in <%= @season_row.title %>:
    <table class="table table-hover table-striped">
      <thead class="thead-dark">
        <tr>
          <th>
            Username
          </th>

          <th>
            Role
          </th>

          <th>
            View Profile
          </th>
        </tr>
      </thead>
      <% @membership_rows.each do |member| %>
      <tr>
        <td>
          <%= User.where({ :id => member.users_id}).at(0).email %>
        </td>
        <td>
          <%= member.category %>
        </td>
          
        <td>
          <a class="nav-link btn btn-secondary" href="/profile/<%= member.users_id %>">User Profile</a>
        </td>
      </tr>
      
      <% end %>
    </table>
  </div>
</div>