<h1 class="center_title"><%= @season_row.title %></h1>
<div class="center_title"><%= @season_row.description %></div>
<br>
<% if @market_rows.present? %>
<h2 class="center_title">Markets available in <%= @season_row.title %></h2>
<table class="table table-hover table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        Market Title
      </th>

      <th>
        Market Description
      </th>

      <th></th>
    </tr>
  </thead>

  <!-- Fix formatting to make it tile based instead of table based -->
  <!-- Put users table on the left and the tile based seasons in the middle/right -->
  <!-- add conditional to show 'there are no markets here' -->
  <% @market_rows.each do |market| %>
  <tr>
    <td>
      <%= market.title %>
    </td>

    <td>
      <%= market.description %>
    </td>

    <td>
      <a class="btn btn-secondary" href="/markets/<%= market.season.club.id.to_s + '/' + market.season.id.to_s + '/' + market.id.to_s %>">Go to Market</a>
    </td>
  </tr>
  
  <% end %>
</table>
<% else %>
<h2>There do not appear to be any markets active in this Season.</h2>
<% end %>
<br>

<h2 class="center_title">Users currently in <%= @season_row.title %></h2>
<table class="table table-hover table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        Username
      </th>

      <th>
        Role
      </th>

      <th>
        View Profile
      </th>
    </tr>
  </thead>

   <% @membership_rows.each do |member| %>
  <tr>
    <td>
      <%= User.where({ :id => member.users_id}).at(0).email %>
    </td>
    <td>
      <%= member.category %>
    </td>
      
    <td>
      <a class="btn btn-secondary" class="nav-link" href="/view_profile/<%= member.users_id %>">User Profile</a>
    </td>
  </tr>
  
  <% end %>
</table>

<br>

<div class="center_title">
  <a class="btn btn-secondary btn-block" href="/clubs/<%= @club_row.id %>">Go to Season's Club page. (<%= @club_row.title %>)</a>
</div>
<br>
<% if @owner_user_id == current_user.id %>
  <br>
    <div class="center_title"><a class="btn btn-secondary btn-block" href="/seasons/manage/<%= @club_row.id %>/<%= @season_row.id %>">Manage Season</a></div>
  <br>
<% end %>