<div class="row">   
  <div class="col-1 position-fixed" style="min-width: 150px;">
    <div class="center_title"><button class="btn btn-outline-secondary btn-block" id="standings-toggle">Season Standings</button></div>
    <br>
    <% if @owner_user_id == current_user.id %>
      <button type="button" class="btn btn-outline-secondary btn-block" data-toggle="modal" data-target="#manage_season_details">
          Edit Season Details
      </button>
      <br>
      <button type="button" class="btn btn-outline-secondary btn-block" data-toggle="modal" data-target="#add_season_member">
        Add Season Members
      </button>
      <br>
      <button type="button" class="btn btn-outline-secondary btn-block" data-toggle="modal" data-target="#manage_user_funds">
        Manage User Funds
      </button>
      <br>
      <button type="button" class="btn btn-outline-secondary btn-block" data-toggle="modal" data-target="#create_market">
        Create Market
      </button>
    <% end %>
  </div>
  
  <div class="col-6 offset-3">
    <h1 class="center_title"><%= @season_row.title %></h1>
    <div class="center_title"><%= @season_row.description %></div>
    <br>
    <div class="center_title">Go back to Club: <a href="/clubs/<%= @club_row.id %>"><%= @club_row.title %></a></div>
    <br>
    <div class="center_title">
      <img src="<%= @season_row.picture %>" height="180" width="240" class="img-responsive">
    </div>
    <br>
    <% if @market_rows.present? %>
    <h2 class="center_title">Markets available in <%= @season_row.title %></h2>
    <br>
    <div class="row row-cols-1 row-cols-md-4">
      <% @market_rows.each do |market| %>
        <div class="col mb-4">
          <div class="card h-100">
            <img src="<%= market.picture %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-truncate"><%= market.title %></h5>
              <% if market.description == "" %>
                <p class="card-text text-truncate">[No Description]</p>
              <% else %>
                <p class="card-text text-truncate"><%= market.description %> </p>
              <% end %>
              <div class="text-center"><a class="btn btn-secondary stretched-link" href="/markets/<%= market.season.club.id.to_s + '/' + market.season.id.to_s + '/' + market.id.to_s %>">Go to Market</a></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <br>

    <% else %>
    <h2>
      There are no markets currently available in <%= @season_row.title %>.
      <br>
      <br>
      <% if @owner_user_id == current_user.id %>
        Create the first Market in this Season!
      <% else %>
        Ask the Season owner to create a Market in this Season!
      <% end %>
    <% end %>
  </div>

  <div class="col-1">
  </div>
  <div id="season_standings" style="display: none">
    <div class="col-12 position-fixed h-75 d-flex">
      <div class="sidebar-right scrolly">
        <div class="sidebar">
          <div>
            <%= render 'season_templates/season_standings' %>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>


<div class="row">
  <div class="col-6 offset-3">
    <div class="jumbotron">
      <div class="container">
        <h1>Season Discussion Board</h1>
        <p>
          <form action="/comments/season/create/<%= @season_row.id %>/<%= current_user.id %>" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="comment_body"></label>
              <textarea class="form-control" id="comment_body" name="body" placeholder="Have something on your mind?" rows="4"></textarea>
              <br>
              <button class="btn btn-secondary">Submit Comment</button>
            </div>
          </form>
        </p>
      </div>
      <div class="container">
        <%= comments_tree_for @season_comments %>
      </div>
    </div>
  </div>
</div>


<%= render 'season_templates/season_modals' %>

<script>
$(document).ready(function() {

 $('#season_standings').hide();

  $('#standings-toggle').click(function() {
   $('#season_standings').toggle();

   });
 });
</script>