<div class="row">   
  <div class="col-xs-12 col-lg-6 offset-lg-3">
    <h1 class="center_title">My Seasons</h1>
    <br>
    <% if @membership_rows.present? %>
      <br>
      <br>
      <% club_id = 0 %>

        <% @membership_rows.each do |member| %>
          <% if member.season.club_id != club_id %>
            <% if club_id != 0 %>
              </div> <!-- This is to end the card div each time there is a new club associated with the remaining seasons (except for the first time before a card has been created) -->
            <% end %>
            <h2>
              <%= member.season.club.title %>
            </h2>
            <br>
          <div class="row row-cols-1 row-cols-md-3">
          <% end %>
          <% club_id = member.season.club.id %>
          <div class="col mb-4">
            <div class="card h-100">
              <img src="<%= member.season.picture %>" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title text-truncate"><%= member.season.title %></h5>
                <% if member.season.description == "" %>
                  <p class="card-text text-truncate">[No Description]</p>
                <% else %>
                  <p class="card-text text-truncate"><%= member.season.description %> </p>
                <% end %>
                <div class="text-center"><a class="btn btn-secondary stretched-link" href="/seasons/<%= member.season.club.id.to_s + '/' + member.seasons_id.to_s %>">Go to Season</a></div>
              </div>
            </div>
          </div>
        <% end %>
        </div> <!-- This is to end the card div for the last club associated with the seasons -->
    <% else %>
      <h2>
        You do not belong to any Seasons yet.
        <br>
        <br>
        Ask a current Club owner to invite you to a Season...or create your own!
      </h2>
    <% end %>
  </div>
</div>