<h1 class="center_title">My Seasons</h1>
<br>

<table class="table table-hover table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        Club Title
      </th>

      <th>
        Season Title
      </th>

      <th>
        Season Description
      </th>

      <th></th>
    </tr>
  </thead>

  <!-- There's likely a better way to do this -->
  <!-- Fix formatting to make it tile based instead of table based -->
  <% @membership_rows.each do |member| %>
  <tr>
    <td>
      <%= Season.where({ :id => member.seasons_id }).at(0).club.title %>
    </td>

    <td>
      <%= Season.where({ :id => member.seasons_id }).at(0).title %>
    </td>

    <td>
      <%= Season.where({ :id => member.seasons_id }).at(0).description %>
    </td>

    <td>
      <a class="btn btn-secondary" href="/seasons/<%= Season.where({ :id => member.seasons_id }).at(0).club.id.to_s + '/' + member.seasons_id.to_s %>">Go to Season</a>
    </td>
  </tr>
  
  <% end %>
</table>
 <!-- test tile based images -->
<br>
<br>

<div class="row row-cols-1 row-cols-md-4">
  <% @membership_rows.each do |member| %>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="<%= Season.where({ :id => member.seasons_id }).at(0).picture %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= Season.where({ :id => member.seasons_id }).at(0).title %></h5>
          <% if Season.where({ :id => member.seasons_id }).at(0).description == "" %>
            <p class="card-text">[No Description]</p>
          <% else %>
            <p class="card-text"><%= Season.where({ :id => member.seasons_id }).at(0).description %> </p>
          <% end %>
          <div class="text-center"><a class="btn btn-secondary stretched-link" href="/clubs/<%= member.clubs_id %>">Go to Club</a></div>
        </div>
      </div>
    </div>
  <% end %>
</div>