<h1 class="center_title">My Seasons</h1>
<br>
<!-- There's likely a better way to do this -->
<!-- Looping based on clubs then based on seasons within clubs. Confirm this is okay how it is structured-->
<br>
<br>
<% club_id = 0 %>

  <% @membership_rows.each do |member| %>
    <% if Season.where({ :id => member.seasons_id }).at(0).club.id != club_id %>
      <% if club_id != 0 %>
        </div>
      <% end %>
      <h2>
        <%= Season.where({ :id => member.seasons_id }).at(0).club.title %>
      </h2>
      <br>
    <div class="row row-cols-1 row-cols-md-4">
    <% end %>
    <% club_id = Season.where({ :id => member.seasons_id }).at(0).club.id %>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="<%= Season.where({ :id => member.seasons_id }).at(0).picture %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= Season.where({ :id => member.seasons_id }).at(0).title %></h5>
          <% if Season.where({ :id => member.seasons_id }).at(0).description == "" %>
            <p class="card-text">[No Description]</p>
          <% else %>
            <p class="card-text"><%= Season.where({ :id => member.seasons_id }).at(0).description %> </p>
          <% end %>
          <div class="text-center"><a class="btn btn-secondary stretched-link" href="/seasons/<%= Season.where({ :id => member.seasons_id }).at(0).club.id.to_s + '/' + member.seasons_id.to_s %>">Go to Season</a></div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
