<div class="row">
  <div class="col-xs-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2">
    <div class="col-xs-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2">
      <div class="jumbotron">

        <h2>Resend unlock instructions</h2>

        <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>
          <%= f.full_error :unlock_token %>

          <div class="form-inputs">
            <%= f.input :email,
                        autofocus: true,
                        input_html: { autocomplete: "email", class: 'form-control' } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Resend unlock instructions", class: "btn btn-secondary" %>
          </div>
        <% end %>
        <br>
        <br>
        Have your unlock instructions already?
        <br>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>