<!-- Manage Club Details modal html -->
<div class="modal fade" id="manage_club_details" tabindex="-1" role="dialog" aria-labelledby="manage_club_detailsLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="manage_club_detailsLabel">Edit Club Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/update_club_details/<%= @club_row.id %>" method="post" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="form-group">
            <input type="hidden" name="_method" value="patch">
            <label for="update_club_title">What is the new title of this Club?</label>
            <input class="form-control" id="update_club_title" type="text" name="updated_club_title" placeholder="Enter a title..." value="<%= @club_row.title %>" required="required">
            <br>
            <label for="update_club_description">What is the new description of this Club?</label>
            <input class="form-control" id="update_club_description" type="text" name="updated_club_description" placeholder="Enter a description..." value="<%= @club_row.description %>">
            <br>
            <label for="update_club_picture">What picture would you like to set for this Club?</label>
            <input type="file" id="update_club_picture" name="updated_club_picture" class="form-control">
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary btn-block">Update Club Details</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Add Club Member modal html -->
<div class="modal fade" id="add_club_member" tabindex="-1" role="dialog" aria-labelledby="add_club_memberLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add_club_memberLabel">Add Club Member</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/add_club_memberships/<%= @club_row.id %>" method="post">
        <div class="modal-body">
          <div class="form-group">
            <label for="query">What is the username of the member you would like to add?</label>
            <input class="form-control col-12" id="query" type="text" name="username" placeholder="Enter a username..." autocomplete="off" required>
            <br>
            <label for="select_member_category">What role would you like this member to have?</label>
            <select class="form-control" required="required" id="select_member_category" name="member_category"><option value="">Select role for this new Club member</option>
              <option value="member" selected>Member</option>
              <option value="admin">Admin</option>
            </select>   
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary btn-block">Add Club Member</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Create Season modal html -->
<div class="modal fade" id="create_season" tabindex="-1" role="dialog" aria-labelledby="create_seasonLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="create_seasonLabel">Create a New Season</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/create_new_season" method="post" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="form-group">
            <!-- Include some form of permission functionality where only members of each club who are designated owner or admin under category column can create season -->
            <label for="selected_club">Create a Season for the following Club:</label>
            <input id="selected_club" name="associated_club_title" class="form-control" type="text" placeholder="<%= @club_row.title %>" readonly>
            <input type="hidden" id="hidden_club_id" name="associated_club_id" value="<%= @club_row.id %>">
            <br>
            <label for="create_season_title">What is the title of this Season?</label>
            <input class="form-control" id="create_season_title" type="text" name="season_title" placeholder="Enter a title..." required="required">
            <br>
            <label for="create_season_description">What is the description of this Season?</label>
            <input class="form-control" id="create_season_description" type="text" name="season_description" placeholder="Enter a description...">
            <br>
            <label for="create_season_fund ">How much money do you want season participants to start with?</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
              <input class="form-control" id="create_season_fund" name="season_fund" placeholder="Enter a positive amount..." type="number" min="0" step=".01" required>
            </div>
            <br>
            <label for="create_season_picture">What picture would you like to set for this Season?</label>
            <input type="file" id="create_season_picture" name="season_picture" class="form-control">
            <br>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary btn-block">Create Season</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Manage Club Member modal html -->
<div class="modal fade" id="manage_club_members" tabindex="-1" role="dialog" aria-labelledby="manage_club_membersLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="manage_club_membersLabel">Manage Club Members</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div>
        <table class="table table-hover table-striped sortable table-bordered">
          <thead class="thead-dark">
            <tr class="d-flex">
              <th class="col-4" >
                Username
              </th>

              <th class="col-4">
                Role
              </th>

              <th class="col-4">
                
              </th>

            </tr>
          </thead>

          <% @membership_rows.each do |member| %>
          <tr class="d-flex">
            <td class="col-4">
              <a href="/profile/<%= member.users_id %>"><%= member.user.username %></a> 
            </td>
            <form action="/manage_club_memberships/<%= @club_row.id %>/<%= member.users_id %>" method="post">
              
              <td class="col-4">
                <select class="form-control" required="required" id="select_member_category" name="member_category"><option value="">Select new role for this Club member</option>
                  <% if member.category == "member" %>
                    <option value="member" selected>Member</option>
                    <option value="admin">Admin</option>
                    <option value="owner">Owner</option>
                  <% elsif member.category == "admin" %>
                    <option value="member">Member</option>
                    <option value="admin" selected>Admin</option>
                    <option value="owner">Owner</option>
                  <% elsif member.category == "owner" %>
                    <option value="member">Member</option>
                    <option value="admin">Admin</option>
                    <option value="owner" selected>Owner</option>
                  <% end %>
                </select>    
              </td>
              <td class="col-4">
                <button class="btn btn-secondary btn-block">Update</button>
              </td>

            </form>
          </tr>              
          <% end %>

        </table>
      </div>
    </div>
  </div>
</div>


<!-- Leave Club modal html -->
<div class="modal fade" id="leave_club" tabindex="-1" role="dialog" aria-labelledby="leave_clubLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="leave_clubLabel">Leave Club</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/leave_club/<%= @club_row.id %>" method="post">
        <div class="modal-body">
          <div class="form-group">

            <label for="select_member_category">Are you sure you want to leave this Club?<br><br>Note: This will automatically remove you from all seasons associated with this Club and this action cannot be undone.</label>
            <select class="form-control" required="required" id="select_member_category" name="member_category"><option value="">Selected Yes if you want to leave</option>
              <option value="yes_leave">Yes</option>
            </select>   
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary btn-block">Leave Club</button>
        </div>
      </form>
    </div>
  </div>
</div>
