<h1 class="center_title"><%= @club_row.title %></h1>
<div class="center_title">
  <%= @club_row.description %>
</div>
<br>
<h2 class="center_title">Seasons available in <%= @club_row.title %></h2>
<table class="table table-hover table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        Season Title
      </th>

      <th>
        Season Description
      </th>

      <th></th>
    </tr>
  </thead>

  <!-- There's likely a better way to do this -->
  <!-- Fix formatting to make it tile based instead of table based -->
  <!-- Put users table on the left and the tile based seasons in the middle/right -->
  <% @season_rows.each do |season| %>
  <tr>
    <td>
      <%= season.title %>
    </td>

    <td>
      <%= season.description %>
    </td>

    <td>
      <a class="btn btn-secondary" href="/seasons/<%= season.club.id.to_s + '/' + season.id.to_s %>">Go to Season</a>
    </td>
  </tr>
  
  <% end %>
</table>
<br>

<h2 class="center_title">Users currently in <%= @club_row.title %></h2>
<table class="table table-hover table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        Username
      </th>

      <th>
        Role
      </th>

      <th>
        View Profile
      </th>
    </tr>
  </thead>

   <% @membership_rows.each do |member| %>
  <tr>
    <td>
      <%= User.where({ :id => member.users_id}).at(0).email %>
    </td>
    <td>
      <%= member.category %>
    </td>
      
    <td>
      <a class="btn btn-secondary" class="nav-link" href="/profile/<%= member.users_id %>">User Profile</a>
    </td>
  </tr>
  
  <% end %>
</table>
<br>
<% if @owner_user_id == current_user.id %>
  
  <br>
    <div class="center_title"><a class="btn btn-secondary btn-block" href="/clubs/manage/<%= @club_row.id %>">Manage Club</a></div>
  <br>
<% end %>