<div class="row">
  <div class="col-1">
    <div class="center_title"><button class="btn btn-outline-secondary btn-block" id="menu-toggle">View Roster</button></div>
    <br>
    <% if @owner_user_id == current_user.id %>
        <button type="button" class="btn btn-outline-secondary btn-block" data-toggle="modal" data-target="#manage_club_details">
          Edit Club Details
        </button>
        <br>
        <button type="button" class="btn btn-outline-secondary btn-block" data-toggle="modal" data-target="#add_club_member">
          Add Club Members
        </button>
        <br>
        <button type="button" class="btn btn-outline-secondary btn-block" data-toggle="modal" data-target="#create_season">
          Create Season
        </button>
    <% end %>
  </div>
  
  <%= render 'club_templates/club_roster' %>


  <div class="col-6 offset-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/my_clubs">My Clubs</a></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @club_row.title %></li>
      </ol>
    </nav>

    <h1 class="center_title"><%= @club_row.title %></h1>
    <div class="center_title">
      <%= @club_row.description %>
    </div>
    <br>
    <div class="center_title">
      <img src="<%= @club_row.picture %>" height="180" width="240" class="img-responsive">
    </div>
    <br>
    <% if @season_rows.present? %>
      <h2 class="center_title">Seasons available in <%= @club_row.title %></h2>
      <br>
      <div class="row row-cols-1 row-cols-md-4">
        <% @season_rows.each do |season| %>
          <div class="col mb-4">
            <div class="card h-100">
              <img src="<%= season.picture %>" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title text-truncate"><%= season.title %></h5>
                <% if season.description == "" %>
                  <p class="card-text text-truncate">[No Description]</p>
                <% else %>
                  <p class="card-text text-truncate"><%= season.description %> </p>
                <% end %>
                <div class="text-center"><a class="btn btn-secondary stretched-link" href="/seasons/<%= season.club.id.to_s + '/' + season.id.to_s %>">Go to Season</a></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <h2>
      There are no seasons currently available in <%= @club_row.title %>.
      <br>
      <br>
      <% if @owner_user_id == current_user.id %>
        Create the first Season in this Club!
      <% else %>
        Ask the Club owner to create a Season in this Club!
      <% end %>
      </h2>
    <% end %>
  </div>
</div>
<!-- Add new comments -->
<!-- Display comments and permit replies -->


<div class="row">
  <div class="col-6 offset-3">
    <div class="jumbotron">
      <div class="container">
        <h1>Club Discussion Board</h1>
        <p>
          <form action="/comments/club/create/<%= @club_row.id %>/<%= current_user.id %>" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="comment_body"></label>
              <textarea class="form-control" id="comment_body" name="body" placeholder="Have something on your mind?" rows="4"></textarea>
              <br>
              <button class="btn btn-secondary">Submit Comment</button>
            </div>
          </form>
        </p>
      </div>
      <div class="container">
        <%= comments_tree_for @club_comments %>
      </div>
    </div>
  </div>
</div>

<%= render 'club_templates/club_modals' %>

<script src="/javascript_files/screenpopout.js">
</script>



<!-- temp reference 
<div class="row">
  <div class="col-6 offset-2">
    <h1>Comments</h1>
    <br>
    <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="card card-white post">
          <div class="post-heading">
            <div class="float-left image">
              <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
            </div>
            <div class="float-left meta">
              <div class="title h5">
                <a href="#"><b>Ryan Haywood</b></a>
                made a post.
              </div>
              <h6 class="text-muted time">1 minute ago</h6>
            </div>
          </div> 
          <div class="post-description"> 
            <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
-->