<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/my_clubs">My Clubs</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @club_row.title %></li>
  </ol>
</nav>

<h1 class="center_title"><%= @club_row.title %></h1>
<div class="center_title">
  <%= @club_row.description %>
</div>
<br>
<div class="center_title">
  <img src="<%= @club_row.picture %>" height = 200 class="img-responsive">
</div>
<br>
<h2 class="center_title">Seasons available in <%= @club_row.title %></h2>
<br>
<div class="row row-cols-1 row-cols-md-4">
  <% @season_rows.each do |season| %>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="<%= season.picture %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= season.title %></h5>
          <% if season.description == "" %>
            <p class="card-text">[No Description]</p>
          <% else %>
            <p class="card-text"><%= season.description %> </p>
          <% end %>
          <div class="text-center"><a class="btn btn-secondary stretched-link" href="/seasons/<%= season.club.id.to_s + '/' + season.id.to_s %>">Go to Season</a></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br>

<h2 class="center_title">Users currently in <%= @club_row.title %></h2>
<table class="table table-hover table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        Username
      </th>

      <th>
        Role
      </th>

      <th>
        View Profile
      </th>
    </tr>
  </thead>

   <% @membership_rows.each do |member| %>
  <tr>
    <td>
      <%= User.where({ :id => member.users_id}).at(0).username %>
    </td>
    <td>
      <%= member.category %>
    </td>
      
    <td>
      <a class="btn btn-secondary" class="nav-link" href="/profile/<%= member.users_id %>">User Profile</a>
    </td>
  </tr>
  
  <% end %>
</table>
<br>
<% if @owner_user_id == current_user.id %>
  
  <br>
    <div class="center_title"><a class="btn btn-secondary btn-block" href="/clubs/manage/<%= @club_row.id %>">Manage Club</a></div>
  <br>
<% end %>