<div id="club_container">
  <div class="row">
    <div class="col-xs-12 col-md-10 offset-md-1">
      <h1 class="center_title"><%= @club_row.title %></h1>
      <div class="center_title">
        <%= @club_row.description %>
      </div>
      <br>
      <div class="center_title">
        <img src="<%= @club_row.picture %>" height="180" width="240" class="img-responsive">
      </div>
      <br>
      <h2>Current Seasons</h2>
        <br>
      <% if @current_season_rows.present? %>
        <div class="row row-col-xs-1 row-cols-md-2 row-cols-lg-3">
          <% @current_season_rows.each do |season| %>
            <div class="col mb-4">
              <div class="card h-100">
                <img src="<%= season.picture %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-truncate"><%= season.title %></h5>
                  <% if season.description == "" %>
                    <p class="card-text text-truncate">[No Description]</p>
                  <% else %>
                    <p class="card-text text-truncate"><%= season.description %> </p>
                  <% end %>
                  <div class="text-center"><a class="btn btn-secondary stretched-link" href="/seasons/<%= season.club.id.to_s + '/' + season.id.to_s %>">Go to Season</a></div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <h3>
        There are no seasons currently available in <%= @club_row.title %>.
        <br>
        </h3>
      <% end %>
      <br>
      <% if @closed_season_rows.present? %>
        <h2>Previous Seasons</h2>
        <br>
        <div class="row row-col-xs-1 row-cols-md-2 row-cols-lg-3">
          <% @closed_season_rows.each do |season| %>
            <div class="col mb-4">
              <div class="card h-100">
                <img src="<%= season.picture %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-truncate"><%= season.title %></h5>
                  <% if season.description == "" %>
                    <p class="card-text text-truncate">[No Description]</p>
                  <% else %>
                    <p class="card-text text-truncate"><%= season.description %> </p>
                  <% end %>
                  <div class="text-center"><a class="btn btn-secondary stretched-link" href="/seasons/<%= season.club.id.to_s + '/' + season.id.to_s %>">Go to Season</a></div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</div>
<br>


<%= render 'club_templates/club_roster' %>
<%= render 'club_templates/club_modals' %>

<script>
$(document).ready(function() {

 $('#club_roster').show();

  $('#roster-toggle').click(function() {
   $('#club_roster').toggle();

   });
 });
</script>

<script>
  var users = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    remote: {
      url: '/users/autocomplete?query=%QUERY',
      wildcard: '%QUERY'
    }
  });
  $('#query').typeahead(null, {
    source: users
  });
</script>

<script>
$(document).ready(function() {

 $('#sidebar_right').show();

  $('#sidebar_rightCollapse').click(function() {
   $('#sidebar_right').toggle();

   });
 });
</script>