<div class="row">   
  <div class="col-6 offset-3">
    <h1 class="center_title"><%= @contract.title %></h1>
    <br>
    <div class="center_title">
      <%= @contract.description %>
    </div>
    <br>
    <div class="center_title">
      <img src="<%= @contract.contractpic %>" height = 200 class="img-responsive">
    </div>
  </div>
</div>

<br>
<div class="row">
  <div class="col-6 offset-3">
    <h2 class="center_title">Total Contracts Outstanding</h2>
    <div class="center_title">
      Yes contracts: <%= @contract.quantity_a %><br>No contracts: <%= @contract.quantity_b %>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-6 offset-3">
    <h2 class="center_title">Ownership Breakout</h2>
      <table class="table table-hover table-striped sortable table-bordered">
        <thead class="thead-dark">
          <tr class="d-flex">
            <th class="col-4 text-center pr-5" >
              Username
            </th>

            <th class="col-4 text-center pr-5">
              Yes Contracts
            </th>

            <th class="col-4 text-center pr-5">
              No Contracts
            </th>

          </tr>
        </thead>

        <% @memberships.each do |member| %>
        <tr class="d-flex">
          <td class="col-4 text-center pr-5">
            <a href="/profile/<%= member.user_id %>"><%= member.user.username %></a> 
          </td>
          <td class="col-4 text-center pr-5">
            <% if member.assets.where({ :contract_id => @contract.id, :category => "contract_quantity_a"}).at(0)  == nil %>
              <%= 0 %>
            <% else %>
              <%= member.assets.where({ :contract_id => @contract.id, :category => "contract_quantity_a"}).at(0).quantity.to_i %>
            <% end %>
          </td>
          <td class="col-4 text-center pr-5">
            <% if member.assets.where({ :contract_id => @contract.id, :category => "contract_quantity_b"}).at(0)  == nil %>
              <%= 0 %>
            <% else %>
              <%= member.assets.where({ :contract_id => @contract.id, :category => "contract_quantity_b"}).at(0).quantity.to_i %>
            <% end %>
          </td>
        </tr>
                    
        <% end %>
      </table>
  </div>
</div>

<%= render 'contract_templates/contract_modals' %>
