<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/my_clubs">My Clubs</a></li>
    <li class="breadcrumb-item"><a href="/clubs/<%= @club_row.id %>"><%= @club_row.title %></a></li>
    <li class="breadcrumb-item"><a href="/seasons/<%= @club_row.id %>/<%= @season_row.id %>"><%= @season_row.title %></a></li>
    <li class="breadcrumb-item"><a href="/markets/<%= @club_row.id %>/<%= @season_row.id %>/<%= @market_row.id %>"><%= @market_row.title %></a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @contract_row.title %></li>
  </ol>
</nav>

<h1 class="center_title"><%= @contract_row.title %></h1>
<br>
<div class="center_title">
  <%= @contract_row.description %>
</div>
<br>
<div class="center_title">
  <img src="<%= @contract_row.contractpic %>" height = 200 class="img-responsive">
</div>
<% if @owner_user_id == current_user.id %>
  <br>
    <div class="center_title"><a class="btn btn-secondary" href="/contracts/manage/<%= @club_row.id %>/<%= @season_row.id %>/<%= @market_row.id %>/<%= @contract_row.id %>">Manage Contract</a></div>
  <br>
<% end %>
<br>

