<div class="col-md-6 offset-md-3">
    <div class="center_title"><a class="btn btn-secondary btn-block" href="/markets/<%= @club_row.id %>/<%= @season_row.id %>/<%= @market_row.id %>">Return to Market</a></div>
</div>
<br>
<h1 class="center_title"><%= @contract_row.title %></h1>
<br>
<div class="center_title">
  <%= @contract_row.description %>
</div>
<br>
<div class="center_title">
  <img src="<%= @contract_row.contractpic %>" height = 200 class="img-responsive">
</div>
<% if @owner_user_id == current_user.id %>
  <br>
    <div class="center_title"><a class="btn btn-secondary" href="/contracts/manage/<%= @club_row.id %>/<%= @season_row.id %>/<%= @market_row.id %>/<%= @contract_row.id %>">Manage Contract</a></div>
  <br>
<% end %>
<br>

