<div class="row">

  <div class="col-1">
    <div class="center_title"><a class="btn btn-outline-secondary btn-block" id="return" href="/markets/<%= @club_row.id %>/<%= @season_row.id %>/<%= @market_row.id %>">Return to Market</a></div>
    <br>
    <div class="center_title"><button class="btn btn-outline-secondary btn-block" id="menu-toggle">Season Standings</button></div>
    <br>
    <% if @owner_user_id == current_user.id %>
        <div class="center_title"><a class="btn btn-outline-secondary btn-block" href="/contracts/manage/<%= @club_row.id %>/<%= @season_row.id %>/<%= @market_row.id %>/<%= @contract_row.id %>">Manage Contract</a></div>
      <br>
    <% end %>
  </div>

  <div class="col-6 offset-2">
    <h1 class="center_title"><%= @contract_row.title %></h1>
    <br>
    <div class="center_title">
      <%= @contract_row.description %>
    </div>
    <br>
    <div class="center_title">
      <img src="<%= @contract_row.contractpic %>" height = 200 class="img-responsive">
    </div>
  </div>
</div>

<script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
</script>
