<h1><%= @contract_row.title %></h1>
<br>
<div>
  <%= @contract_row.description %>
</div>
<% if @owner_user_id == current_user.id %>
  <br>
    <a class="btn btn-secondary" href="/contracts/manage/<%= @club_row.id %>/<%= @season_row.id %>/<%= @market_row.id %>/<%= @contract_row.id %>">Manage Contract</a>
  <br>
<% end %>
<br>

