<div class="row">

  <div class="col-1">
    <div class="center_title"><a class="btn btn-outline-secondary btn-block" id="return" href="/contracts/<%= @club_row.id %>/<%= @season_row.id %>/<%= @market_row.id %>/<%= @contract_row.id %>">Return to Contract</a></div>
    <br>
    <div class="center_title"><button class="btn btn-outline-secondary btn-block" id="menu-toggle">Season Standings</button></div>
    <br>
    <% if @owner_user_id == current_user.id %>
        <div class="center_title"><a class="btn btn-outline-secondary btn-block" href="/contracts/<%= @club_row.id %>/<%= @season_row.id %>/<%= @market_row.id %>/<%= @contract_row.id %>">View Contract</a></div>
      <br>
    <% end %>
  </div>
    
  <div class="col-6 offset-2">   
    <h1 class="center_title">Manage Contract</h1>

    <div class="col-md-6 offset-md-3">
      <div class="jumbotron">
        <h2 class="center_title">Contract Details</h2>
          <br>
          <form action="/update_contract_details/<%= @club_row.id %>/<%= @season_row.id %>/<%= @market_row.id %>/<%= @contract_row.id %>" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <input type="hidden" name="_method" value="patch">
              <label for="update_contract_title">What is the new title of this contract?</label>
              <input class="form-control" id="update_contract_title" type="text" name="updated_contract_title" placeholder="Enter a title..." value="<%= @contract_row.title %>" required>
              <br>
              <label for="update_contract_description">What is the new description of this contract?</label>
              <input class="form-control" id="update_contract_description" type="text" name="updated_contract_description" placeholder="Enter a description..." value="<%= @contract_row.description %>">
              <br>
              <label for="update_contract_picture">What is new picture of this contract?</label>
              <input type="file" id="update_contract_picture" name="updated_contract_picture" class="form-control">
              <br>
              <br>
              <button class="btn btn-secondary btn-block">Update Contract Details</button>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>

<!-- Add delete and/or change status to deactive functionality -->

<script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
</script>
