<h1 class="center_title"><%= @market_row.title %></h1>
<div class="center_title"><%= @market_row.description %></div>

<br>

<% if @contract_rows.present? %>
<h2 class="center_title">Contracts available in <%= @market_row.title %></h2>
<table class="table table-hover table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        Contract Title
      </th>

      <th>
        Price
      </th>

      <th>
        Buy Yes
      </th>

      <th>
        Buy No
      </th>

      <th>
        Sell Yes
      </th>

      <th>
        Sell No
      </th>

      <th></th>
    </tr>
  </thead>
  <% @contract_rows.each do |contract| %>
  <tr>
    <td>
      <%= contract.title %>
    </td>

    <td>
      <%= number_to_currency(contract.price) %>
    </td>
<!-- Later: Force users to only enter postive integers -->
    <td>
      <form action="/buy_yes_contract/<%= contract.id %>" method="post">
        <div class="form-group">
          <label for="quantity_buy_yes_contract"></label>
          <input class="form-control w-50 center_title" id="quantity_buy_yes_contract" type="number" min="1" step="1" name="quantity_buy_yes">
          <button class="btn btn-secondary w-50">Buy Yes</button>
        </div>
      </form>
    </td>

    <td>
      <form action="/buy_no_contract/<%= contract.id %>" method="post">
        <div class="form-group">
          <label for="quantity_buy_no_contract"></label>
          <input class="form-control w-50 center_title" id="quantity_buy_no_contract" type="number" min="1" step="1" name="quantity_buy_no">
          <button class="btn btn-secondary w-50">Buy No</button>
        </div>
      </form>
    </td>

    <td>
      <form action="/sell_yes_contract/<%= contract.id %>" method="post">
        <div class="form-group">
          <label for="quantity_sell_yes_contract"></label>
          <input class="form-control w-50 center_title" id="quantity_sell_yes_contract" type="number" min="1" step="1" name="quantity_sell_yes">
          <button class="btn btn-secondary w-50">Sell Yes</button>
        </div>
      </form>
    </td>

    <td>
      <form action="/sell_no_contract/<%= contract.id %>" method="post">
        <div class="form-group">
          <label for="quantity_sell_no_contract"></label>
          <input class="form-control w-50 center_title" id="quantity_sell_no_contract" type="number" min="1" step="1" name="quantity_sell_no">
          <button class="btn btn-secondary w-50">Sell No</button>
        </div>
      </form>
    </td>

    <td>
      <a class="btn btn-secondary" href="/contracts/<%= contract.market.season.club.id.to_s + '/' + contract.market.season.id.to_s + '/' + contract.market.id.to_s + '/' + contract.id.to_s %>">Go to Contract</a>
    </td>
  </tr>
  
  <% end %>
</table>
<% else %>
<h2>There are no active contracts in this Market.</h2>
<% end %>
<br>

<h2 class="center_title">Users currently in <%= @season_row.title %></h2>
<table class="table table-hover table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        Username
      </th>

      <th>
        Role
      </th>

      <th>
        Season Fund
      </th>

      <th>
        View Profile
      </th>
    </tr>
  </thead>

   <% @membership_rows.each do |member| %>
  <tr>
    <td>
      <%= User.where({ :id => member.users_id}).at(0).username %>
    </td>
    <td>
      <%= member.category %>
    </td>
    
    <td>
      $<%= member.assets.where({ :category => "season_fund"}).at(0).quantity %>
    </td>

    <td>
      <a class="btn btn-secondary" class="nav-link" href="/profile/<%= member.users_id %>">User Profile</a>
    </td>
  </tr>
  
  <% end %>
</table>

<br>

<% if @owner_user_id == current_user.id %>
  <br>
    <div class="center_title"><a class="btn btn-secondary btn-block" href="/markets/manage/<%= @club_row.id %>/<%= @season_row.id %>/<%= @market_row.id %>">Manage Market</a></div>
  <br>
<% end %>