<div class="row">   
  <div class="col-6 offset-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/my_clubs">My Clubs</a></li>
        <li class="breadcrumb-item"><a href="/clubs/<%= @club_row.id %>"><%= @club_row.title %></a></li>
        <li class="breadcrumb-item"><a href="/seasons/<%= @club_row.id %>/<%= @season_row.id %>"><%= @season_row.title %></a></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @market_row.title %></li>
      </ol>
    </nav>

    <h1 class="center_title"><%= @market_row.title %></h1>
    <div class="center_title"><%= @market_row.description %></div>
    <br>
    <div class="center_title">
      <img src="<%= @market_row.picture %>" height = 200 class="img-responsive">
    </div>
    <br>

    <% if @contract_rows.present? %>
    <h2 class="center_title">Contracts available in <%= @market_row.title %></h2>
    <table class="table table-hover table-striped">
      <thead class="thead-dark">
        <tr>
          <th>
            Contract Title
          </th>

          <th>
            Contracts Owned
          </th>

          <th>
            Price
          </th>

          <th>
            Buy Yes
          </th>

          <th>
            Sell Yes
          </th>

    <!-- Fill in later to allow buying and selling no to each contract
          <th>
            Buy No
          </th>

          <th>
            Sell No
          </th>
    -->
          <th></th>
        </tr>
      </thead>
      <% @contract_rows.each do |contract| %>
      <tr>
        <td>
          <div class="card mb-3" style="max-width: 400px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="<%= contract.contractpic %>" class="card-img">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title text-truncate"><%= contract.title %></h5>
                  <p class="card-text text-truncate"><%= contract.description %></p>
                </div>
              </div>
            </div>
          </div>
        </td>

        <td>
          <% if Asset.where({ :membership_id => @membership_id, :contract_id => contract, :category => "contract_quantity"}).at(0) == nil %>
            0
          <% else %>
            <%= Asset.where({ :membership_id => @membership_id, :contract_id => contract, :category => "contract_quantity"}).at(0).quantity.to_i  %>
          <% end %>
        </td>

        <td>
          <%= number_to_currency(contract.price) %>
        </td>
        <td>
          <form action="/buy_yes_contract/<%= contract.id %>" method="post">
            <div class="form-group">
              <label for="quantity_buy_yes_contract"></label>
              <input class="form-control w-50 center_title" id="quantity_buy_yes_contract" type="number" min="1" step="1" max="9999" name="quantity_buy_yes" required>
              <button class="btn btn-secondary w-50">Buy</button>
            </div>
          </form>
        </td>

        <td>
          <form action="/sell_yes_contract/<%= contract.id %>" method="post">
            <div class="form-group">
              <label for="quantity_sell_yes_contract"></label>
              <input class="form-control w-50 center_title" id="quantity_sell_yes_contract" type="number" min="1" step="1" max="9999" name="quantity_sell_yes" required>
              <button class="btn btn-secondary w-50">Sell</button>
            </div>
          </form>
        </td>

    <!-- Fill in later to allow yes and no for same contract
        <td>
          <form action="/buy_no_contract/<%= contract.id %>" method="post">
            <div class="form-group">
              <label for="quantity_buy_no_contract"></label>
              <input class="form-control w-50 center_title" id="quantity_buy_no_contract" type="number" min="1" step="1" max="9999" name="quantity_buy_no" required>
              <button class="btn btn-secondary w-50">Buy</button>
            </div>
          </form>
        </td>

        <td>
          <form action="/sell_no_contract/<%= contract.id %>" method="post">
            <div class="form-group">
              <label for="quantity_sell_no_contract"></label>
              <input class="form-control w-50 center_title" id="quantity_sell_no_contract" type="number" min="1" step="1" max="9999" name="quantity_sell_no" required>
              <button class="btn btn-secondary w-50">Sell</button>
            </div>
          </form>
        </td>
    -->
        <td>
          <a class="btn btn-secondary" href="/contracts/<%= contract.market.season.club.id.to_s + '/' + contract.market.season.id.to_s + '/' + contract.market.id.to_s + '/' + contract.id.to_s %>">View Contract</a>
        </td>
      </tr>
      
      <% end %>
    </table>
    <% else %>
    <h2>
      There are no contracts currently available in <%= @market_row.title %>.
      <br>
      <br>
      <% if @owner_user_id == current_user.id %>
        Create the first Contract in this Market!
      <% else %>
        Ask the Season/Market owner to create a Contract in this Market!
      <% end %>
    <% end %>
    <br>

    <h2 class="center_title">Users currently in <%= @season_row.title %></h2>
    <table class="table table-hover table-striped">
      <thead class="thead-dark">
        <tr>
          <th>
            Username
          </th>

          <th>
            Role
          </th>

          <th>
            Season Fund
          </th>

          <th>
            View Profile
          </th>
        </tr>
      </thead>

      <% @membership_rows.each do |member| %>
      <tr>
        <td>
          <%= member.user.username %>
        </td>
        <td>
          <%= member.category %>
        </td>
        
        <td>
          $<%= member.assets.where({ :category => "season_fund"}).at(0).quantity %>
        </td>

        <td>
          <a class="btn btn-secondary" class="nav-link" href="/profile/<%= member.users_id %>">User Profile</a>
        </td>
      </tr>
      
      <% end %>
    </table>

    <br>

    <% if @owner_user_id == current_user.id %>
      <br>
        <div class="center_title"><a class="btn btn-secondary btn-block" href="/markets/manage/<%= @club_row.id %>/<%= @season_row.id %>/<%= @market_row.id %>">Manage Market</a></div>
      <br>
    <% end %>
  </div>
</div>