<div id="market_container">
  <div class="row">   
    <div class="col-xs-12 col-md-10 offset-md-1">
      <h1 class="center_title"><%= @market_row.title %></h1>
      <div class="center_title"><%= @market_row.description %></div>
      <br>
      <% if @market_row.status == "active" %>
        <div class="center_title">Market Status: <span class="text-success"><%= @market_row.status %></span></div>
      <% elsif @market_row.status == "paused" %>
        <div class="center_title">Market Status: <span class="text-warning"><%= @market_row.status %></span></div>
      <% elsif @market_row.status == "closed" %>
        <div class="center_title">Market Status: <span class="text-danger"><%= @market_row.status %></span></div>
      <% end %>
      <br>
      <div class="center_title">
        <img src="<%= @market_row.picture %>" height="180" width="240" class="img-responsive">
      </div>
      <br>

      <div class="row">
        <div class="col-3">
        </div>
      </div>
        <h2 class="center_title">Contracts in Play</h2>
          <br>
          <div id="accordion">

            <div class="card">
              <div class="card-header" id="header">
                <div class="row">
                  <h6 class="mb-0 col-5">
                    Contract
                  </h6>
                  <h6 class="mb-0 col-3" data-toggle="tooltip" data-html="true" title="'Yes' for this contract will pay out $1.00 if this <em>does</em> occur and $0 if this <em>does not</em> occur. The current price for 1 additional 'Yes' of this contract is shown below alongside the quantity you currently own.">
                      Yes
                  </h6>
                  <h6 class="mb-0 col-3" data-toggle="tooltip" data-html="true" title="'No' for this contract will pay out $0 if this <em>does</em> occur and $1.00 if this <em>does not</em> occur. The current price for 1 additional 'No' of this contract is shown below alongside the quantity you currently own.">
                      No
                  </h6>
                  <h6 class="mb-0 px-0 col-1">

                  </h6>
                </div>

              </div>
            </div>
          
            <%= render 'market_templates/contract_rows' %>

            <% if @owner_user_id == current_user.id %>
            <div>
              <div class="px-0" id="headingOne">
                <div class="container-fluid pr-4">
                  <div class="row">
                    <div class="mb-0 col-5">
                    </div>

                    <div class="mb-0 col-3 text-small">
                    </div>
                    <div class="mb-0 col-3 text-small">
                    </div>
                    <div class="mb-0 px-0 col-1">
                      <button class="btn stretched-link px-0" data-toggle="modal" data-target="#add_contract">
                        <i class="fas fa-plus fa-2x" style="color:#F76C6C;"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
          <br>
    </div>
  </div>
</div>


<%= render 'market_templates/market_chat' %>
<%= render 'seasons/season_standings' %>

<!-- Only render market modals if market is not closed -->
<% if @market_row.status != "closed" %>
  <%= render 'market_templates/market_modals' %>
<% end %>

<script>
$(document).ready(function() {

 $('#season_standings').show();

  $('#standings-toggle').click(function() {
   $('#season_standings').toggle();

   });
 });
</script>

<script>
  var users = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    remote: {
      url: '/users/autocomplete?query=%QUERY',
      wildcard: '%QUERY'
    }
  });
  $('#query').typeahead(null, {
    source: users
  });
</script>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

<script>
$(document).ready(function() {

 $('#sidebar_right').show();

  $('#sidebar_rightCollapse').click(function() {
   $('#sidebar_right').toggle();

   });
 });
</script>