<div class="row">   
  <div class="col-6 offset-3">    
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/my_clubs">My Clubs</a></li>
        <li class="breadcrumb-item"><a href="/clubs/<%= @club_row.id %>"><%= @club_row.title %></a></li>
        <li class="breadcrumb-item"><a href="/seasons/<%= @club_row.id %>/<%= @season_row.id %>"><%= @season_row.title %></a></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @market_row.title %></li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">   
  <div class="col-1">
    <div class="center_title">
      <button class="btn btn-outline-secondary btn-block" id="menu-toggle">Season Standings</button>
    </div>
    <br>
    <% if @owner_user_id == current_user.id %>
      <button type="button" class="btn btn-outline-secondary btn-block" data-toggle="modal" data-target="#manage_market_details">
          Edit Market Details
      </button>
      <br>
      <button type="button" class="btn btn-outline-secondary btn-block" data-toggle="modal" data-target="#add_contract">
          Add Contract
      </button>
      <br>
      <button type="button" class="btn btn-outline-secondary btn-block" data-toggle="modal" data-target="#close_market">
          Close Market
      </button>
    <% end %>
  </div>

  <%= render 'season_templates/season_standings' %>
  
  <div class="col-6 offset-2">
    <h1 class="center_title"><%= @market_row.title %></h1>
    <div class="center_title"><%= @market_row.description %></div>
    <br>
    <div class="center_title">
      <img src="<%= @market_row.picture %>" height="180" width="240" class="img-responsive">
    </div>
    <br>

    <% if @market_row.status == "closed" %>
      <br>
      <h2 class="center_title">This Market is closed!</h2>
    <% else %>
      <% if @contract_rows.present? %>
      <h2 class="center_title">Contracts in Play</h2>
      <br>
      <div id="accordion">

        <div class="card">
          <div class="card-header" id="header">
            <div class="row">
              <h5 class="mb-0 col-6">
                  Contract
              </h5>
              <h5 class="mb-0 col-2">
                  Owned
              </h5>
              <h5 class="mb-0 col-2">
                  Price
              </h5>
              <h5 class="mb-0 col-2">

              </h5>

            </div>
          </div>
        </div>

        <% @contract_rows.each_with_index do |contract, index| %>
          <div class="card">
            <div class="card-header" id="headingOne">
              <div class="row">
                <div class="mb-0 col-6">
                  <div class="media text-truncate">
                    <a style="color: black" class="stretched-link" href="/contracts/<%= contract.market.season.club.id.to_s + '/' + contract.market.season.id.to_s + '/' + contract.market.id.to_s + '/' + contract.id.to_s %>"><img class="mr-3" src="<%= contract.contractpic %>" alt="Generic placeholder image" height="75" width="100"></a>
                    <div class="media-body">
                      <h5 class="mt-0"><%= contract.title %></h5>
                      <div><%= contract.description %></div>
                    </div>
                  </div>
                </div>
                <div class="mb-0 col-2">
                  <% if Asset.where({ :membership_id => @membership_id, :contract_id => contract, :category => "contract_quantity_a"}).at(0) == nil %>
                    0
                  <% else %>
                    <%= Asset.where({ :membership_id => @membership_id, :contract_id => contract, :category => "contract_quantity_a"}).at(0).quantity.to_i  %>
                  <% end %>
                </div>
                <div class="mb-0 col-2">
                    <%= number_to_currency(contract.price_check(contract.id, 10, 1)) %>
                </div>
                <div class="mb-0 col-2">
                  <button class="btn btn-secondary btn-block stretched-link" data-toggle="collapse" data-target="#heading_<%= index %>" aria-expanded="false" aria-controls="heading_<%= index %>">
                    Trade
                  </button>
                </div>
              </div>
            </div>
            <div id="heading_<%= index %>" class="collapse" aria-labelledby="heading_<%= index %>" data-parent="#accordion">
              <div class="row">
                <div class="card-body col-6">
                  <form action='/buy_yes_contract/<%= contract.id %>' method='post'>
                    <div class='form-group center_title'>
                      <label for='quantity_buy_yes_contract'>How many contracts do you want to buy?</label>
                      <input class='form-control center_title' id='quantity_buy_yes_contract' type='number' min='1' step='1' max='9999' name='quantity_buy_yes' required>
                      <br>
                      <button class='btn btn-secondary btn-block'>Buy</button>
                    </div>
                  </form>
                </div>

                <div class="card-body col-6">
                  <form action='/sell_yes_contract/<%= contract.id %>' method='post'>
                    <div class='form-group center_title'>
                      <label for='quantity_sell_yes_contract'>How many contracts do you want to sell?</label>
                      <input class='form-control center_title' id='quantity_sell_yes_contract' type='number' min='1' step='1' max='9999' name='quantity_sell_yes' required>
                      <br>
                      <button class='btn btn-secondary btn-block'>Sell</button>
                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>
        <% end %>
      </div>
      <% else %>
      <h2>
        There are no contracts currently available in <%= @market_row.title %>.
        <br>
        <br>
        <% if @owner_user_id == current_user.id %>
          Create the first Contract in this Market!
        <% else %>
          Ask the Season/Market owner to create a Contract in this Market!
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-6 offset-3">
    <div class="jumbotron">
      <div class="container">
        <h1>Market Discussion Board</h1>
        <p>
          <form action="/comments/market/create/<%= @market_row.id %>/<%= current_user.id %>" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="comment_body"></label>
              <textarea class="form-control" id="comment_body" name="body" placeholder="Have something on your mind?" rows="4"></textarea>
              <br>
              <button class="btn btn-secondary">Submit Comment</button>
            </div>
          </form>
        </p>
      </div>
      <div class="container">
        <%= comments_tree_for @market_comments %>
      </div>
    </div>
  </div>
</div>

<%= render 'market_templates/market_modals' %>

<script>
  $("div > .editable").popover({
    html: true,
    sanitize: false
});
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
    
</script>
