
<div id="contracts">
  <% @contracts.each_with_index do |contract, index| %>
    <div class="card custom-color-8">
      <div class="card-header px-0" id="headingOne">
        <div class="container-fluid pr-4">
        <div class="row">
          <div class="mb-0 col-5 contract_image_padding">
            <div class="media text-truncate">
              <a style="color: black" class="stretched-link" href="/contracts/<%= contract.market.season.club.id.to_s + '/' + contract.market.season.id.to_s + '/' + contract.market.id.to_s + '/' + contract.id.to_s %>"><img class="mr-3  d-none d-lg-block" src="<%= contract.contractpic %>" alt="Generic placeholder image" height="50" width="75"></a>
              <div class="media-body">
                <h6 class="mt-0 text-small"><%= contract.title %></h6>
                <div class="text-small"><%= contract.description %></div>
              </div>
            </div>
          </div>

          <script>
            setInterval(function(){
              const buy_yes_qty = $('#quantity_buy_yes_contract_<%= contract.id %>').val() || 0
              const sell_yes_qty = $('#quantity_sell_yes_contract_<%= contract.id %>').val() || 0
              const buy_no_qty = $('#quantity_buy_no_contract_<%= contract.id %>').val() || 0
              const sell_no_qty = $('#quantity_sell_no_contract_<%= contract.id %>').val() || 0
              $.get(`/contracts/<%= contract.id %>?buy_yes_qty=${buy_yes_qty}&sell_yes_qty=${sell_yes_qty}&buy_no_qty=${buy_no_qty}&sell_no_qty=${sell_no_qty}`).then(response => {
                $('#yes_price_<%= contract.id %>').text(`$${parseFloat(response.yes_price).toFixed(2)}`)
                $('#no_price_<%= contract.id %>').text(`$${parseFloat(response.no_price).toFixed(2)}`)
                $('#buy_yes_quantity_<%= contract.id %>').text(`${parseFloat(response.buy_yes_quantity)}`)
                $('#buy_yes_total_<%= contract.id %>').text(`$${parseFloat(response.buy_yes_total).toFixed(2)}`)
                $('#buy_yes_average_<%= contract.id %>').text(`$${parseFloat(response.buy_yes_average).toFixed(2)}`)
                $('#sell_yes_quantity_<%= contract.id %>').text(`${parseFloat(response.sell_yes_quantity)}`)
                $('#sell_yes_total_<%= contract.id %>').text(`$${parseFloat(response.sell_yes_total).toFixed(2)}`)
                $('#sell_yes_average_<%= contract.id %>').text(`$${parseFloat(response.sell_yes_average).toFixed(2)}`)
                $('#buy_no_quantity_<%= contract.id %>').text(`${parseFloat(response.buy_no_quantity)}`)
                $('#buy_no_total_<%= contract.id %>').text(`$${parseFloat(response.buy_no_total).toFixed(2)}`)
                $('#buy_no_average_<%= contract.id %>').text(`$${parseFloat(response.buy_no_average).toFixed(2)}`)
                $('#sell_no_quantity_<%= contract.id %>').text(`${parseFloat(response.sell_no_quantity)}`)
                $('#sell_no_total_<%= contract.id %>').text(`$${parseFloat(response.sell_no_total).toFixed(2)}`)
                $('#sell_no_average_<%= contract.id %>').text(`$${parseFloat(response.sell_no_average).toFixed(2)}`)
              })
            }, 5000)

          </script>


          <div class="mb-0 col-3 text-small">
              <span id='yes_price_<%= contract.id %>'><%= number_to_currency(contract.price_check(contract.id, 50, 1, "yes")) %></span>
              <% if Asset.where({ :membership_id => @membership_id, :contract_id => contract, :category => "contract_quantity_a"}).at(0) == nil %>
                (0)
              <% else %>
                (<%= Asset.where({ :membership_id => @membership_id, :contract_id => contract, :category => "contract_quantity_a"}).at(0).quantity.to_i  %>)
              <% end %>
          </div>
          <div class="mb-0 col-3 text-small">
              <span id='no_price_<%= contract.id %>'><%= number_to_currency(contract.price_check(contract.id, 50, 1, "no")) %></span>
              <% if Asset.where({ :membership_id => @membership_id, :contract_id => contract, :category => "contract_quantity_b"}).at(0) == nil %>
                (0)
              <% else %>
                (<%= Asset.where({ :membership_id => @membership_id, :contract_id => contract, :category => "contract_quantity_b"}).at(0).quantity.to_i  %>)
              <% end %>
          </div>
          <div class="mb-0 px-0 col-1">
            <% if @market.status == "active" %>
              <button class="btn stretched-link px-0" data-toggle="collapse" data-target="#heading_<%= index %>" aria-expanded="false" aria-controls="heading_<%= index %>">
                <i class="fas fa-coins fa-2x" style="color:#374785;"></i>
              </button>
            <% else %>
              <div></div>
            <% end %>
          </div>
          </div>
        </div>
      </div>

      <% if @market.status == "active" %>
        <div id="heading_<%= index %>" class="collapse" aria-labelledby="heading_<%= index %>" data-parent="#accordion">
          <div class="row px-1">
            
            <div class="card-body col-3 px-3">
              <form action='/buy_yes_contract/<%= contract.id %>' method='post' data-remote="true" id="buy_yes_contract_form_<%= contract.id %>">
                <div class='form-group center_title text-small'>
                  <label for='quantity_buy_yes_contract_<%= contract.id %>'>How many 'yes' contracts do you want to buy?</label>
                  <input class='form-control center_title' id='quantity_buy_yes_contract_<%= contract.id %>' type='number' min='1' step='1' max='999' name='quantity_buy_yes' autocomplete="off" required>
                  <br>
                  <div> 
                    <div class="text-justify">Quantity: <span id='buy_yes_quantity_<%= contract.id %>'><%= 0 %></span></div>
                    <div class="text-justify">Total: <span id='buy_yes_total_<%= contract.id %>'><%= number_to_currency(0) %></span></div>
                    <div class="text-justify">Average: <span id='buy_yes_average_<%= contract.id %>'><%= number_to_currency(0) %></span></div>
                  </div>
                  <br>
                  <button class='btn btn-secondary btn-block text-small px-0'>Buy Yes</button>
                </div>
              </form>
            </div>

            <div class="card-body col-3 px-3">
              <form action='/sell_yes_contract/<%= contract.id %>' method='post' data-remote="true" id="sell_yes_contract_form_<%= contract.id %>">
                <div class='form-group center_title text-small'>
                  <label for='quantity_sell_yes_contract_<%= contract.id %>'>How many 'yes' contracts do you want to sell?</label>
                  <input class='form-control center_title' id='quantity_sell_yes_contract_<%= contract.id %>' type='number' min='1' step='1' max='999' name='quantity_sell_yes' autocomplete="off" required>
                  <br>
                  <div> 
                    <div class="text-justify">Quantity: <span id='sell_yes_quantity_<%= contract.id %>'><%= 0 %></span></div>
                    <div class="text-justify">Total: <span id='sell_yes_total_<%= contract.id %>'><%= number_to_currency(0) %></span></div>
                    <div class="text-justify">Average: <span id='sell_yes_average_<%= contract.id %>'><%= number_to_currency(0) %></span></div>
                  </div>
                  <br>
                  <button class='btn btn-secondary btn-block text-small px-0'>Sell Yes</button>
                </div>
              </form>
            </div>

            <div class="card-body col-3 px-3">
              <form action='/buy_no_contract/<%= contract.id %>' method='post' data-remote="true" id="buy_no_contract_form_<%= contract.id %>">
                <div class='form-group center_title text-small'>
                  <label for='quantity_buy_no_contract_<%= contract.id %>'>How many 'no' contracts do you want to buy?</label>
                  <input class='form-control center_title' id='quantity_buy_no_contract_<%= contract.id %>' type='number' min='1' step='1' max='999' name='quantity_buy_no' autocomplete="off" required>
                  <br>
                  <div> 
                    <div class="text-justify">Quantity: <span id='buy_no_quantity_<%= contract.id %>'><%= 0 %></span></div>
                    <div class="text-justify">Total: <span id='buy_no_total_<%= contract.id %>'><%= number_to_currency(0) %></span></div>
                    <div class="text-justify">Average: <span id='buy_no_average_<%= contract.id %>'><%= number_to_currency(0) %></span></div>
                  </div>
                  <br>
                  <button class='btn btn-secondary btn-block text-small px-0'>Buy No</button>
                </div>
              </form>
            </div>

            <div class="card-body col-3 px-3">
              <form action='/sell_no_contract/<%= contract.id %>' method='post' data-remote="true" id="sell_no_contract_form_<%= contract.id %>">
                <div class='form-group center_title text-small'>
                  <label for='quantity_sell_no_contract_<%= contract.id %>'>How many 'no' contracts do you want to sell?</label>
                  <input class='form-control center_title' id='quantity_sell_no_contract_<%= contract.id %>' type='number' min='1' step='1' max='999' name='quantity_sell_no' autocomplete="off" required>
                  <br>
                  <div> 
                    <div class="text-justify">Quantity: <span id='sell_no_quantity_<%= contract.id %>'><%= 0 %></span></div>
                    <div class="text-justify">Total: <span id='sell_no_total_<%= contract.id %>'><%= number_to_currency(0) %></span></div>
                    <div class="text-justify">Average: <span id='sell_no_average_<%= contract.id %>'><%= number_to_currency(0) %></span></div>
                  </div>
                  <br>
                  <button class='btn btn-secondary btn-block text-small px-0'>Sell No</button>
                </div>
              </form>
            </div>

          </div>
        </div>
        <script>
              
          document.getElementById("buy_yes_contract_form_<%= contract.id %>").addEventListener("keyup", function (event) {

            const buy_yes_qty = $('#quantity_buy_yes_contract_<%= contract.id %>').val() || 0
            $.get(`/contracts/<%= contract.id %>?buy_yes_qty=${buy_yes_qty}`).then(response => {
              $('#buy_yes_quantity_<%= contract.id %>').text(`${parseFloat(response.buy_yes_quantity)}`)
              $('#buy_yes_total_<%= contract.id %>').text(`$${parseFloat(response.buy_yes_total).toFixed(2)}`)
              $('#buy_yes_average_<%= contract.id %>').text(`$${parseFloat(response.buy_yes_average).toFixed(2)}`)
            })

          });

          document.getElementById("sell_yes_contract_form_<%= contract.id %>").addEventListener("keyup", function (event) {
            
            const sell_yes_qty = $('#quantity_sell_yes_contract_<%= contract.id %>').val() || 0
            $.get(`/contracts/<%= contract.id %>?sell_yes_qty=${sell_yes_qty}`).then(response => {
              $('#sell_yes_quantity_<%= contract.id %>').text(`${parseFloat(response.sell_yes_quantity)}`)
              $('#sell_yes_total_<%= contract.id %>').text(`$${parseFloat(response.sell_yes_total).toFixed(2)}`)
              $('#sell_yes_average_<%= contract.id %>').text(`$${parseFloat(response.sell_yes_average).toFixed(2)}`)
            })

          });

          document.getElementById("buy_no_contract_form_<%= contract.id %>").addEventListener("keyup", function (event) {
            
            const buy_no_qty = $('#quantity_buy_no_contract_<%= contract.id %>').val() || 0
            $.get(`/contracts/<%= contract.id %>?buy_no_qty=${buy_no_qty}`).then(response => {
              $('#buy_no_quantity_<%= contract.id %>').text(`${parseFloat(response.buy_no_quantity)}`)
              $('#buy_no_total_<%= contract.id %>').text(`$${parseFloat(response.buy_no_total).toFixed(2)}`)
              $('#buy_no_average_<%= contract.id %>').text(`$${parseFloat(response.buy_no_average).toFixed(2)}`)
            })

          });

          document.getElementById("sell_no_contract_form_<%= contract.id %>").addEventListener("keyup", function (event) {
            
            const sell_no_qty = $('#quantity_sell_no_contract_<%= contract.id %>').val() || 0
            $.get(`/contracts/<%= contract.id %>?sell_no_qty=${sell_no_qty}`).then(response => {
              $('#sell_no_quantity_<%= contract.id %>').text(`${parseFloat(response.sell_no_quantity)}`)
              $('#sell_no_total_<%= contract.id %>').text(`$${parseFloat(response.sell_no_total).toFixed(2)}`)
              $('#sell_no_average_<%= contract.id %>').text(`$${parseFloat(response.sell_no_average).toFixed(2)}`)
            })

          });

      </script>
      <% else %>
      <% end %>
    </div>
  <% end %>
</div>