<!DOCTYPE html>
<html>
  <head>
    <title>Predicts Hit</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

  </head>

  <body>
    <%= render 'home_templates/navbar' %>
    <br>
    <div class="container">
      <%= render 'home_templates/flash' %>
      <%= yield %>
    </div>
  </body>
</html>
